*{
    padding: 0;
    margin: 0;
}
.message{
    width: 100%;
    height: 50vh;
}
.container-fluid{
    width: 100%;
    background-color: black;
    height: auto;
}
.form{
    color: white;
}
.col1{
    width: 50%;
    height: auto;
}
.col2{
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
.contact{
    color:white;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
.contact:hover{
    color:yellow; 
}
.btn{
    background-color: rgb(223, 190, 7);
    padding: 10px;
    transition: color 0.2s ease-in-out;
}
.btn:hover{
    color: black;
    background-color: aqua;
}
